.contact {
    padding: 4rem 2rem;
    background-color: #f8fafc;
    color: #1e293b;
    max-width: 700px;
    margin: 120px auto;
    box-shadow: 0 2px 10px #1e293b;
  }
  
  .contact h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .contact .intro {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #475569;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .contact-form label {
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    border: none;
    border-bottom: 2px solid #cbd5e1;
    background-color: transparent;
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #1e293b;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-bottom: 2px solid #1e293b;
  }
  
  
  .contact-form button {
    background-color: #0f172acf;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0f172a;
    color:#facc15;
    ;
  }